body{
  background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(../images/image.jpg);
  background-size: cover;
  background-position: center;
}

.login-box{
  background-color: rgba(211,211,211,0.5);
  padding: 20px;
  max-width: 400px;
  float: none;
  margin: 150px auto;
  border-radius: 5px;
}

.form-control{
  background-color: transparent !important;
}

.link{
  color: white;
}
